<hr class="rainbow-line" data-shift-line />

<div class="container">
	<div class="content-container" data-shift>
		<div class="about-content">

			{% endif %}
			{% if paginator.next_page %}
				<a class="page_navigator" href="{{ paginator.next_page_path }}">
					<img src="/uploads/icofonts/ico_more.png" width="20" height="20">〉Older
				</a>
			{% endif %}

			<!--<p>Currently, I am working for BBDO Digital in Beijing, China.If you'd like to chat or make something awesome together, <a href="mailto:kitmeng@live.com" style="border-bottom: 1px dotted #2699F1; color: #2699F1;" >let's get in touch</a>.</p>-->		

		</div>
	</div>
</div>
