<hr class="rainbow-line" data-shift-line />

<div class="container">
  <div class="content-container" data-shift>
    <div class="about-content">

      <h2>Hi! I'm Kit Meng, a designer and front end development enthusiast from Malaysia. <br><span style="-webkit-text-stroke: 1px #000; color: transparent;" ="">Digital design</span> is my passion - my goal is to design products that benefit people’s lives. I use colours, words and pictures to help people understand things. When I'm not designing, I'm usually trying to grow a beard.</h2>

      <i class="em em-link"></i><a href="https://www.linkedin.com/in/kitmeng/" style="border-bottom: 1px dotted #2699F1; color: #2699F1;" target="_blank"><b>LinkedIn</b></a>

      <i class="em em-link"></i><a href="https://www.behance.net/kitmeng" style="border-bottom: 1px dotted #2699F1; color: #2699F1;" target="_blank"><b>Behance</b></a>

      <i class="em em-link"></i><a href="https://www.instagram.com/life.elsewhere/" style="border-bottom: 1px dotted #2699F1; color: #2699F1;" target="_blank"><b>Instagram</b></a>

      <i class="em em-link"></i><a href="https://github.com/kitmeng" style="border-bottom: 1px dotted #2699F1; color: #2699F1;" target="_blank"><b>GitHub</b></a>

    </div>
  </div>
</div>
