<hr class="rainbow-line" data-shift-line />

<div class="container">
  <div class="content-container" data-shift>
    <div class="about-content">

      <h2>Hi! I'm Kit Meng, a designer and font end dvelopment enthusiast from Malaysia. <span style="-webkit-text-stroke: 1px #000; color: transparent;" ="">Digital design</span> is my passion - my goal is to design digital products that benefit people’s lives. I use colours, letters and pictures to help people understand things. When not designing, I'm usually trying to grow a beard.</h2>

    </div>
  </div>
</div>
