@import 'bourbon'
@import 'neat'

.content-container
  @include outer-container

.content
  @include span-columns(8)
  @include shift(1)

.navigation
  @include span-columns(3)

.post-list
  list-style-type: none

.about
  background: url('images/avatar.png')
  display: inline-block
  right: 0
  width: 70px
  height: 70px
